<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<div class="container">
  <div class="row">
    <div class="col-12">
      <app-one></app-one>
    </div>
  </div>
  
  <div class="row">
    <div class="col-2">
    <app-two></app-two>
    </div>
    
    <div class="col-8">
    <app-one></app-one> 
    <!-- <app-three></app-three> -->
    </div>

    <div class="col-2">
      <div class="row">
      <app-two></app-two>
      </div>
      <div class="row">
      <app-three></app-three>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-12">
    <app-one></app-one>
  </div>
</div>


  </div>
</div>